<!-- Static character -->
<div class="static-character"></div>
<!-- Animated character -->
<div class="character hi-five mouse-idle">
	<div class="character__arm-far"></div>
	<div class="character__torso"></div>
	<div class="character__arm-near"></div>
	<div class="character__face"></div>
	<div class="character__hair"></div>
	<div class="character__eyes"></div>
	<div class="character__mouth"></div>
	<div class="character__leg-far hide"></div>
	<div class="character__pelvis hide"></div>
	<div class="character__leg-near hide"></div>
</div>
